canvas {
    background-color: black;
}
/* Mode portrait 
@media (orientation: portrait) {
    canvas {
        width: 100vw;
        height: 100vw;
    }
}
/* Mode paysage 
@media (orientation: landscape) {
    canvas {
        width: 70vh;
        height: 70vh;
    }
}*/